@model Reports.Entities.Employee
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1>Employee Details</h1>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MentorId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MentorId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MentorName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MentorName)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="Update" asp-route-Id="@Model.Id">Update</a>
        <a class="btn btn-danger" asp-action="GetAll">Back</a>
    </div>
</div>